{{ define "main" }}
<main id="main-content" class="bg-[#FCFCF0] min-h-screen py-12" aria-labelledby="resources-title">
  <div class="max-w-6xl mx-auto px-4">
    <h1 id="resources-title" class="text-center text-2xl font-semibold mb-12">{{ .Title }}</h1>
    <section aria-label="{{ i18n "strings.resources_list" }}" class="space-y-12">
      {{/* Render reports from data/reports */}}
      {{ $lang := .Site.Language.Lang }}
      {{ $reports := (index .Site.Data.reports (print $lang)) }}
      {{ range $reports }}
        {{ partial "resource-item.html" (dict "item" . "type" "report") }}
      {{ end }}
      {{/* Render blogposts from content/reports */}}
      {{ $posts := where (where .Site.RegularPages "Section" "reports") "Lang" $lang }}
      {{ range $posts }}
        {{ partial "resource-item.html" (dict "item" . "type" "post") }}
      {{ end }}
    </section>
  </div>
</main>
{{ end }} 